/*
 * TYPOGRAPHY
 *
 * Define all your typography classes here, doing so should help you keep
 * your typography uniform across your project
 */



// New font styles
.font-main {
    font-family: 'Lato', sans-serif;
}

.font-alt {
    font-family: 'Quando', serif;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.158px;
}

p { letter-space: 0.422px; line-height: 1.6; }

h1 { font-size: @fs-h1; }
h2 { font-size: @fs-h2; }
h3 { font-size: @fs-h3; }
h4 { font-size: @fs-h4; }
h5 { font-size: @fs-h5; }
p { font-size: @fs-p; }
.caption { font-size: @fs-caption; }

h1, h2, h3, h4, h5, p, .caption {
    .font-smoothing;
}

.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}