/*
 * VARIABLES
 *
 * Define all your variables here, doing so should help you keep
 * your attributes uniform across your project
 */

// Font sizes
@fs-caption: 14.00px;
@fs-p: 16.00px;
@fs-h5: 19.44px;
@fs-h4: 22.13px;
@fs-h3: 25.19px;
@fs-h2: 28.68px;
@fs-h1: 45.16px;

// Font weights
@fw-light:     300;
@fw-normal:    400;
@fw-semi-bold: 600;
@fw-bold:      700;

// Z-index
@z-index-1:   100;
@z-index-2:   200;
@z-index-3:   300;
@z-index-4:   400;
@z-index-5:   500;
@z-index-6:   600;
@z-index-7:   700;
@z-index-8:   800;
@z-index-9:   900;
@z-index-10: 1000;

// Spaces
@space-smaller: 6.25px;
@space-small: 12.5px;
@space-medium: 25px;
@space-large: 50px;
@space-larger: 100px;

// Colors
@color-brand-white: rgb(255, 255, 255);
